{% extends "base.html" %}

{% block title %}Your Tasks{% endblock %}

{% block content %}
<div class="container">

<div class="header">
    {% if request.user.is_authenticated %}
    <h3>
    this is todo app, <span class="hello">hello {{ user.username }}</span>
    </h3>
    <a href="{% url 'logout' %}">Wyloguj się</a><br><br>
    <a href="{% url 'task_add' %}">Add new task</a>
    {% endif %}
</div>

{% for task in tasks %}
<table class="task" width="500" align="center">
    <tr>
        <td name="first">
            {% if task %}
            {% for task in tasks %}
            <h1>{{ task.title }}</h1><br>
            {{ task.notes|truncatewords:10 }}<br>
            task was created: {{ task.created }}<br>
            Finish this task to {{ task.deadline }}<br>
            <a href="{% url 'task_delete' task.title %}">Delete Task</a><br><br>
            <a href="{% url 'task_detail' task.title %}">View task's details</a>
            {% endfor %}
            {% endif %}
        </td>

        <td>
            {% if task not in first %}
            {% for task in tasks %}
            <h1>{{ task.title }}</h1><br>
            {{ task.notes|truncatewords:10 }}<br>
            task was created: {{ task.created }}<br>
            Finish this task to {{ task.deadline }}<br>
            <a href="{% url 'task_delete' task.title %}">Delete Task</a><br><br>
            <a href="{% url 'task_detail' task.title %}">View task's details</a>
            {% endfor %}
            {% endif %}
        </td>
    </tr>

    <tr>
        <td></td>

        <td></td>
    </tr>

    <tr>
        <td></td>

        <td></td>
    </tr>
</table>
</div>
{% endfor %}

{% endblock %}